:root{
    --e-global-color-primary: #747474;
    --e-global-color-secondary: #084FA1;
    --e-global-color-text: #747474;
    --e-global-color-accent: #084FA1;
    --e-global-color-68be65cd: #B6C9DB;
    --e-global-color-7f88c8d: #545454;
    --e-global-color-698c296e: #FDD247;
    --e-global-color-23a8ed2e: #154D80;
    --e-global-color-da30929: #8C8C8C;
    --e-global-color-30a517f8: #000000;
    --e-global-color-4ad617c5: #FFFFFF;
    --e-global-color-688538bb: #E27307;
    --e-global-color-4297b8e5: #000000;
    --e-global-color-5d4bed51: #000000;
    --e-global-color-6274434f: #000000;
    --e-global-color-25dd96d3: #098605;
    --e-global-color-478dcf96: #B92602;
    --e-global-color-3ef8522: #747474;
    --e-global-primary-font-family: "Open Sans";
    --e-global-primary-font-size: 24px;
    --e-global-primary-font-weight: 800;
    --e-global-secondary-font-family: "Open Sans";
    --e-global-secondary-font-weight: 800;
    --e-global-text-font-family: "Open Sans";
    --e-global-text-font-weight: 400;
    --e-global-accent-font-family: "Open Sans";
    --e-global-accent-font-weight: 500;
}


/* simple utility */

li{
    list-style: none;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: var(--e-global-color-4ad617c5);
}

i{
    font-size:0 1rem;
}

h2{
    font-size: 2.2rem;
    font-family: var(--e-global-primary-font-family);
    font-weight:var(--e-global-primary-font-weight);
}
h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--e-global-primary-font-family);
    font-weight:var(--e-global-primary-font-weight);
    padding: 2rem;
}

.s-1{
    font-size: 3rem;
}

img{
    width: 100%;
}



/* flex utility */

.row-n-flex{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.col-n-flex{
    display: flex;
    flex-direction: column;
    
}

/*grid utility  */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* card box */

.card{
    /* color: #333; */
    /* background: #fff; */
    border-radius: 10px;
    box-shadow: 0 3px  10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px;
}

/* other part */
@keyframes header-bottom {
    0%{
        border-bottom: 1px solid var(--e-global-color-4ad617c5);
    }
    100%{
        border-bottom: 1px solid var(--e-global-color-secondary);
    }
}


@keyframes btn-Changes{
    0%{
       width: 30%;
    }
    25%{
       width: 50%;
    }
    100%{
        width: 75%;

    }
}

.btn-change:hover{
    width: 100%;
    transform: rotate(-5deg);
}

.toggel-box{
    z-index: 111;
    
}

/* text color changer  */

.bl-w{
    color: var(--e-global-color-secondary);
}

.bl-b{
    color: var(--e-global-color-23a8ed2e);
}


/* slider show img */


.slider{
    background-image: url("https://source.unsplash.com/random/1200x400/?technology,programing");
    width: 100%;
    height: 50vh;
    background-attachment:fixed ;
}

